.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}



/* TITLE */
.title {
  margin-bottom: 16px;
  font-size: 2.5rem;
  font-weight: 800;
  background: linear-gradient(90deg, #ffec20, #e58251, #ffbe44);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

/* CARD */
.weather-card {
  width: 100%;
  max-width: 340px;
  padding: 24px;
  border-radius: 20px;
  background: #387cbf;
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  align-items: center;
    margin-top: 20px;       /* distance from top of viewport */
  margin-bottom: 24px;  
}

.fox-weather {
width: 100%;
height: 90px;
 
}

/* SEARCH */
.search-bar {
  width: 100%;
  display: flex;
  gap: 10px;
  margin-bottom: 16px;
  justify-content: center;
}

.search-bar input {
  width: 100%;
  max-width: 220px;
  height: 42px;
  border-radius: 999px;
  border: none;
  padding: 0 16px;
  font-size: 16px;
  outline: none;
}

.search-bar img {
  width: 42px;
  height: 42px;
  padding: 10px;
  border-radius: 50%;
  background: #ebfffc;
  cursor: pointer;
}

/* WEATHER INFO */

.items {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weather-icon {
  width: 50%;
  height: 100%;
  /* margin: 12px 0; */
  border-radius: 50%;
  margin-bottom: 10px;

}

.temperature {
  font-size: 3.5rem;
  color: white;
  line-height: 1;
}

.location {
  color: white;
  font-size: 1.2rem;
  margin-bottom: 16px;
}

/* DATA */
.weather-data {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: white;
}

.weather-data .col {
  display: flex;
  align-items: center;
  gap: 8px;
}

.weather-data img {
  width: 30px;
}


/* ERROR */

.error {
  font-weight: 500;
  background-color: #ff2a2a;
  padding: 10px;
  border-color: black;
  border-style: solid;
  border-width: 2px; /* Sets the thickness */
}

/* FULL SCREEN OVERLAY */
.loader-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  pointer-events: all; /* blocks clicks */
}

/* SPINNER */
.spinner {
  width: 60px;
  height: 60px;
  border: 6px solid #ddd;
  border-top: 6px solid #3498db;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
