@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html, body {
  height: 100%;
}

.app {
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: #194d90; /* replace with any color you want */

  padding: 16px;
}

@media screen and (min-width: 1024px) {
  .app {
    padding-top: 20px;          /* less top padding on desktop = moves content up */
  }

  .title {
    margin-top: -150px;          /* optional, nudges the title up slightly */
  }

  .weather-card {
    margin-top: 0;              /* moves card up closer to title */
  }

  .fox-title {
    height: 120px;
    height: 90%;
    width: 50%;
    margin-bottom: 140px;
}

}